<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/grid.webp' %}");
            background-size: cover; /* Esto ajusta la imagen para que cubra todo el fondo */
            background-position: center; /* Esto centra la imagen en el fondo */
        }
    </style>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.codigo }} - {{ producto.nombre }} - {{ producto.marca }} - {{ producto.fecha_vencimiento }}</li>
        {% empty %}
            <li>No hay productos registrados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'registro_producto' %}" class="btn">Registrar un nuevo producto</a>
</body>
</html>

