<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/grid.webp' %}");
            background-size: cover; /* Esto ajusta la imagen para que cubra todo el fondo */
            background-position: center; /* Esto centra la imagen en el fondo */
        }
    </style>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <div class="form-container">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" class="input-field" name="username" placeholder="Nombre de usuario" required>
            <input type="password" class="input-field" name="password" placeholder="Contraseña" required>
            <button type="submit" class="btn">Iniciar Sesión</button>
        </form>
        <p class="error">{{ error }}</p>
    </div>
</body>
</html>
